@charset "utf-8";
/* CSS Document */
*{cursor: url( "css/tubiao.ico"),auto;}
#xzqp {
	position: absolute;
	width: 100%;
	height: 1173px;
	z-index: 1;
	left: 0px;
	top: 0px;
} /*整体布局*/
#xzqp #header {
	height: 100px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	background-image: url("img/201818340414-liuxiaoling-0602.jpg");
}/*导航*/
#xzqp #header #login {
	height: 20px;
	width: 70px;
	margin-left: 970px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333;
	padding-top: 5px;
}
#xzqp #header #logo {
	height: 75px;
	width: 276px;
	margin-left: 28px;
	margin-top: -10px;
}/*logo设置*/
a:link {
	color: #333;
	text-decoration: none;
}
a:visited {
	color: #333;
	text-decoration: none;
}
#xzqp #bar {
	background-color: #7cb291;
	height: 40px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	font-size: 15px;
	margin-top: 1px;
}
#xzqp #bar #bar01 {
	float: left;
	height: 40px;
	width: 75px;
	margin-left: 45px;
	font-family: "微软雅黑";
	line-height: 40px;
	text-align: center;
}
#xzqp #bar #bar02 {
	float: left;
	height: 40px;
	width: 75px;
	margin-left: 45px;
	font-family: "微软雅黑";
	line-height: 40px;
	text-align: center;
}		
#xzqp #bar #bar03 {
	float: left;
	height: 40px;
	width: 75px;
	margin-left: 45px;
	font-family: "微软雅黑";
	line-height: 40px;
	text-align: center;
}				
#xzqp #bar #bar04 {
	float: left;
	height: 40px;
	width: 75px;
	margin-left: 45px;
	font-family: "微软雅黑";
	line-height: 40px;
	text-align: center;
}	
#xzqp #bar #bar05 {
	float: left;
	height: 40px;
	width: 75px;
	margin-left: 45px;
	font-family: "微软雅黑";
	line-height: 40px;
	text-align: center;
}
	/*导航*/
a:hover {
	color: #68A47F;
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a.white:link {
	color: #FFF;
	text-decoration: none;
}
a.white:visited {
	text-decoration: none;
	color: #FFF;
}
a.white:hover {
	text-decoration: none;
	color: #000000;
}
#xzqp #banner {
	height: 380px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1px;
}
#xzqp #tuijian {
	height: 280px;
	width: 1050px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
}/*整体图片格式*/
a.white:active {
	text-decoration: none;
}
#xzqp #tuijian #tuijian01 {
	float: left;
	height: 280px;
	width: 300px;
	border: 1px solid #e2e2e2;
}/*图片1*/
#xzqp #tuijian #tuijian02 {
	float: left;
	height: 280px;
	width: 300px;
	border: 1px solid #e2e2e2;
	margin-left: 72px;
}/*图片2*/
	
#xzqp #tuijian #tuijian03 {
	float: left;
	height: 280px;
	width: 300px;
	border: 1px solid #e2e2e2;
	margin-left: 72px;
}/*图片3*/	
		
#xzqp #tuijian #tuijian01 #tuijiantu {
	height: 210px;
}
#xzqp #tuijian #tuijian01 #wenzi {
	height: 70px;
}/*图片1*/
#xzqp #zhongjian #tuijian02 #tuijiantu {
	height: 210px;
}
#xzqp #zhongjian #tuijian02 #wenzi {
	height: 70px;
}/*图片2*/
			
.alvse {
	font-family: "微软雅黑";
	font-size: 15px;
	color: #68A47F;/*图片字体设置*/
}
.zhengwen {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333;
	line-height:28px;
}
#xzqp #article {
	height: 160px;
	width: 1050px;
	margin-top: 28px;
	margin-right: auto;
	margin-left: auto;
	background-color: #f4f4f4;
	text-align: center;
}/*图片设置*/
#xzqp #footer {
	height: 115px;
	width: 1050px;
	margin-top: 28px;
	margin-right: auto;
	margin-left: auto;
	background-color: #6e6e6e;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #FFF;
	
}/*末尾设置*/
#xzqp	#sb-search{
	text-align: right;
    line-height: 40px;
}/*搜索栏设置*/
